/* Variable custom colors */
:root{
    --custom-grey-1: #e9ecec;
    --custom-grey-2: #d2ddea;
    --custom-grey-3: #c4c6ce;
    --custom-grey-4: #8394ac;
    --custom-green:#2AF598;
    --gradient-color1: #FA8BFF;
    --gradient-color2: #2BD2FF;
    --gradient-color3: #2BFF88;
    --gradient-color4: #546e80;
    --gradient-color5: #26a0da;
}

/* Reusable styles start */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.br-10 {
    border-radius: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-x-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-style {
    background: none;
    border: none;
    color: var(--custom-grey-4);
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-style:hover{
    color: #051937;
}

.strike-through{
    text-decoration: line-through;
}

.completed{
    color: var(--custom-green);
}

/* Reusables styles end */

* {
    margin: 0;
    padding: 0;   
}

body {
    background-image: linear-gradient(90deg, var(--gradient-color1), var(--gradient-color2));
    font-family: 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

#todo-list-container {
    background: white;
    width: 40vw;
    min-width: 350px;
    max-width: 500px;
    padding: 1rem 2rem;
    margin-top: 100px;
    align-self: flex-start;
}

#add-todo-list-container {
    background-color: var(--custom-grey-2);
    display: flex;
    align-items: center;
}

.fa-clipboard-list {
    margin: 0 15px;
    /* color: #ec008c; */
}

#add-item-icon{
    visibility: hidden;
}

#add-todo-list-container:hover #add-item-icon{
    visibility: visible;
}

#todo-textbox {
    background-image: linear-gradient(to left, var(--gradient-color4), var(--gradient-color5));
    font-size: 1.5rem;
    padding: 1rem 0rem 1rem 3rem;
    width: 100%;
    border: none;
    outline: none;
    color: white;
}

.fa-plus {
    right: 20px;
    display: flex;
    align-items: center;
    border: 3px solid #b8d0e0;
    padding: 4px;
    border-radius: 50%;
    color: #b8d0e0;
}

#todo-textbox::placeholder {
    color: var(--custom-grey-2);
}

#todo-button-handlers {
    height: 40px;
}

.fa-check-double {
    margin: 0 10px;
}

#tasks {
    margin: 1.3rem 0px;
}

.task {
    list-style: none;
    padding: 5px 0px;
}

.task:not(:last-child){
    border-bottom: 1px solid var(--gradient-color4);
}

.task-status {
    margin: 0 10px;
}

.task-status-checkbox {
    left: 0;
    width: 20px;
    height: 20px;
    visibility: hidden;
}

.task:hover .fa-circle-xmark{
    visibility: visible;
    color: #FF5C5C;
}

.task-title {
    font-size: 1.6rem;
    transition: all 1s ease-in;
}

.task-title.animation-start{
    transform: translateX(100px);
}

.fa-circle-xmark{
    visibility: hidden;
}

.fa-circle-xmark.visible{
    visibility: visible;
}

#tasks-filter>button {
    margin: 0px 4px;
}

footer {
    margin-top: 10px;
}

.fa-circle,
.fa-circle-check,
.fa-circle-xmark,
.fa-plus{
    cursor: pointer;
}

#star-container{
    align-self: flex-start;
    flex-wrap: wrap;
    width: inherit;
    visibility: hidden;
}

#star-container.start{
    visibility: visible;
    animation: blinkStars 1s ease-out infinite forwards;
}

@keyframes blinkStars {
    0%{
        opacity: 0.3;
    }

    25%{
        opacity: 0.5;
    }

    50%{
        opacity: 0.7;
    }

    75%{
        opacity: 0.9;
    }

    100%{
        opacity: 1;
    }
}

@keyframes taskTitleShake{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(100%);
    }
}

@media screen and (max-width:768px) {
    body {
        font-size: 13px;
    }

    #todo-textbox,
    .task-title {
        font-size: 1.3rem;
    }
}